@tailwind base;
@tailwind components;
@tailwind utilities;
 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Agrandir', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
}

code {
  /* font-family: ui-sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  
}
