@tailwind base;
@tailwind components;
@tailwind utilities;
 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Agrandir', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  /* font-family: ui-sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  
}

.hero {
 background-image: url('./assets/Frame 1.png');
 background-repeat: no-repeat;
 background-size:100% 100% ;
}

.payments {
  background-image: url('./assets/payments-floor 1.png');
  background-repeat: no-repeat;
  background-size:100% 50%;
  
  
}

.cashcard {
  background-image: url('./assets/boost-stairs-1.png');
  background-repeat: no-repeat;
  background-size:70% 100%;
}
.cashcard2 {
  background-image: url('./assets/boost-stairs-2.png');
  background-repeat: no-repeat;
  background-size:70% 100%;
}
.investing-rays{
  background-image: url('./assets/investing-rays 1.png');
  background-repeat: no-repeat; 
  background-size:100% 50%;
}

.investing-floor {
  background-image: url('./assets/investing-floor 1.png');
  background-repeat: no-repeat; 
  background-size:100% 50%;
}
/* .cash{
  
}
.app {
  z-index: 40;
}
.phoneImg {
  z-index:5;
} */